
.background{
    /* background-image: url(../assets/images/backgrounds/proflevel-background.png); */
    background-image: url(../images/backgrounds/background.png);
    background-repeat: no-repeat;
    background-size: cover; 
    /* Center the background image */
    background-position: center ; 
    min-height: 100vh; 
   display: flex;
}


/* used to create a page structure */
/* consists of 2 rows */
/* whole page is divided into 2 rows */
.container {
    display: grid;
    grid-template-rows: auto auto; /* Two rows, the second one may adjust its height based on content */   
}


/* used to create a page structure */
/* a row is futher divided into 2 columns */
.nested-grid {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Two equal-width columns */
    /* Gap between columns */
    /* gap: 10px;  */
    margin-top: 10%; /* Add top margin to move the second row down */
}


